<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAppender" fileName="C:\\code\\codeLife\\myTest\\src\\logs\\log.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <Async name="AsyncAppender">
            <AppenderRef ref="FileAppender"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="AsyncFileLogger" level="trace" additivity="true">
            <AppenderRef ref="AsyncAppender" />
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>


</Configuration>